<div class="container">
  <div class="rd-container p-4">
    <div class="rd-header">
      <div>
        <h2 class="form-title">Recurring Deposit Opening</h2>
        <p class="rd-date">Deposit Opening Date: {{ today | date: 'dd-MM-yyyy' }}</p>
      </div>

      <!-- Add Nominee Toggle -->
      <!-- <div class="add-nominee-toggle">
          <span class="toggle-label">Add Nominee</span>
          <p-inputSwitch [(ngModel)]="addNominee"></p-inputSwitch>
        </div> -->
    </div>

    <form [formGroup]="rdForm" (ngSubmit)="submitRDForm()">
      <div class="form-grid">

        <!-- From Account -->
        <div class="form-group1">
          <label for="name">From Account<span class="required-asterisk">*</span></label>
          <p-dropdown [options]="accountOptions" formControlName="fromAccount" placeholder="Select Account" class="acc"
            required></p-dropdown>
          <p class="balance" [style.visibility]="selectedBalance ? 'visible' : 'hidden'">
            Available Balance: <strong>{{ selectedBalance || '&nbsp;' }}</strong>
          </p>
        </div>



        <!-- Investment Amount -->
        <div class="form-group3">
          <label for="invest">Investment Amount<span class="required-asterisk">*</span></label>
          <input type="number" (keydown)="preventDotAndMinus($event)" pInputText formControlName="amount"
            placeholder="Enter amount" class="scheme" required />
        </div>


        <!-- Tenure -->
        <div class="form-row">
          <label for="tenureMonths" class="form-label">Tenure<span class="required-asterisk">*</span></label>
          <div class="tenure-group">
            <input type="number" (keydown)="preventDotAndMinus($event)" pInputText formControlName="tenureMonths"
              placeholder="Months" class="tenure-input left-rounded" required />

          </div>
        </div>



        <!-- Maturity Instruction -->
        <div class="form-group5">
          <label for="maturity">Maturity Instruction<span class="required-asterisk">*</span></label>
          <div class="radio-buttons">
            <p-radioButton inputId="renew" name="maturity" value="renew" formControlName="maturity" class="scheme"
              required></p-radioButton>
            <label for="renew">Renew My Deposit</label>

            <p-radioButton inputId="close" name="maturity" value="close" formControlName="maturity" class="scheme1"
              required></p-radioButton>
            <label for="close">Close the Account on Maturity</label>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-footer">
        <button type="submit" pButton label="Invest Now" icon="pi pi-arrow-right" [disabled]="!rdForm.valid"
          class="custom-button"></button>
      </div>
    </form>












    <!-- AUTH DIALOG AFTER FORM SUBMIT -->

    <p-dialog header="Authentication Required" [(visible)]="showDialog" [modal]="true" [closable]="false"
      [draggable]="false" position="center" [style]="{ width: '400px' , bottom:'10%'}" styleClass="rd-auth-dialog">

      <form #authForm="ngForm" (ngSubmit)="verifyCredentials(authForm)">
        <div class="p-fluid">
          <div class="p-field p-col-12 ">
            <label for="password">Password</label>
            <input type="password" pInputText id="password" name="password" [(ngModel)]="enteredPassword" required
              #password="ngModel"
              [ngClass]="{ 'ng-invalid': password.invalid && (password.touched || authForm.submitted) }" />
            <small class="p-error" *ngIf="password.invalid && (password.touched || authForm.submitted)">
              Password is required.
            </small>
          </div>

          <div class="p-field p-col-12 mt-3">
            <label for="otp">OTP</label>
            <input type="text" pInputText id="otp" name="otp" [(ngModel)]="enteredOTP" required #otp="ngModel"
              [ngClass]="{ 'ng-invalid': otp.invalid && (otp.touched || authForm.submitted) }" />
            <small class="p-error" *ngIf="otp.invalid && (otp.touched || authForm.submitted)"><br>
              OTP is required.
            </small>
          </div>
        </div>
        <p-footer>
          <button type="submit" pButton label="Verify"></button>
        </p-footer>
      </form>
    </p-dialog>





    <!-- RECEIPT DIALOG AFTER AUTH SUCCESS -->
    <p-dialog header="RD Receipt" [(visible)]="receiptDialog" [modal]="true" [closable]="true" [draggable]="false"
      position="center" [style]="{ width: '490px', bottom:'10%' }" styleClass="rd-receipt-dialog"
      (onHide)="onReceiptDialogHide()">

      <div *ngIf="rdReceiptData">
        <h3 class="text-green-600 mb-5">RD Opened Successfully!</h3>

        <div class="receipt-details">
          <div class="receipt-row">
            <strong class="label">Reference Number</strong><span class="colon">:</span>
            <span class="value">{{ rdReceiptData.referenceNumber }}</span>
          </div>

          <div class="receipt-row">
            <strong class="label">From Account</strong><span class="colon">:</span>
            <span class="value">{{ rdReceiptData.fromAccount }}</span>
          </div>
          <div class="receipt-row">
            <strong class="label">Investment Amount</strong><span class="colon">:</span>
            <span class="value">₹{{ rdReceiptData.amount }}</span>
          </div>
          <div class="receipt-row">
            <strong class="label">Tenure</strong><span class="colon">:</span>
            <span class="value">
              {{ rdReceiptData.tenureMonths }} {{ rdReceiptData.tenureMonths === 1 ? 'month' : 'months' }}
            </span>
          </div>
          <div class="receipt-row">
            <strong class="label">Maturity Instruction</strong><span class="colon">:</span>
            <span class="value">
              {{ rdReceiptData.maturity === 'renew' ? 'Renew the Deposit' : 'Close the Account on Maturity' }}
            </span>
          </div>
        </div>
      </div>

      <p-footer>
        <button pButton label="Close" class="p-button-success"
          (click)="receiptDialog = false; onReceiptDialogHide();"></button>
      </p-footer>
    </p-dialog>



    <p-toast></p-toast>

  </div>
</div>