.container {
    // border: 2px solid black;
    height: 35rem;
    width: 88rem;
    position: relative;
    left: -5px;
    bottom: 25px;
    background-color: #f1e5fc;
    border-radius: 20px;
}

h2 {
    color: rgb(22, 22, 100);
}

.rd-container {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    // border: 2px solid black;
    border-radius: 20px;
    height: 29rem;
    position: relative;
    top: 35px;
    left: 190px;
    width: 60rem;
    background-color: white;
}

.rd-date {
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(22, 22, 100);

}

.form-grid {
    display: grid;
    //   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    height: 15rem;
    padding: 0;
}

.form-footer {
    position: relative;
    bottom: 20px;
}



label {
    width: 7rem;
    color: rgb(155, 54, 155);
    font-weight: bold;
}



.balance {
    font-size: 0.85rem;
    position: relative;
    top: 5px;
    left: 10px;
    width: 15rem;
    color: rgb(43, 43, 131);
    height: 0rem !important;
}

.acc {
    position: relative;
    top: 10px;


}

::ng-deep .rd-receipt-dialog .p-dialog-header {
    padding-bottom: 4px;
}


.form-group1,
.form-group2,
.form-group3,
.form-row,
.form-group4,
.form-group5 {
    position: relative;
    bottom: 10px;

}

.form-group1 {
    position: relative;
    top: 5px;
}

::ng-deep .p-dropdown-items {
    padding: 2px;
}

.required-asterisk {
    color: rgb(205, 47, 47);
}


.scheme {
    position: relative;
    top: 20px;
}

input {
    width: 20rem;
}

.tenure-fields {
    display: flex;
    gap: 1rem;
}

.radio-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form-footer {
    margin-top: 2rem;
    text-align: right;
    // cursor:no-drop;
    // background: linear-gradient(135deg,#ff00cc, #333399);
}

.custom-button {
    //   background: linear-gradient(135deg,#4ecde4, #768596);
    background-color: #768596;

}

//   }

.rd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 25px;

    .add-nominee-toggle {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .toggle-label {
            font-weight: 600;
            font-size: 0.95rem;
        }
    }
}

::ng-deep .tenure-group {
    display: flex;
    gap: 0;

    input.tenure-input {
        border: 1px solid #ccc;
        //   border-right: none;
        border-radius: 5px;
        ;
        height: 44px;
        padding: 0.5rem;
        width: 20rem;
        position: relative;
        top: 20px;
    }



    input.tenure-input:focus {
        border-color: #5c6bc0;
        z-index: 2;
    }
}



::ng-deep .p-dropdown {
    width: 20rem;
    position: relative;
    bottom: 4px;
    right: 1px;
}

label[for=renew] {
    width: 9rem;
    position: relative;
    top: 20px;
    font-size: 15px;
    right: 10px;
    color: rgb(22, 22, 100);
}

label[for=close] {
    width: 14.6rem;
    position: relative;
    top: 20px;
    right: 29px;
    color: rgb(22, 22, 100);

}

.scheme1 {
    position: relative;
    top: 20px;
    right: 20px;
}

label[for=name] {
    position: relative;
    bottom: 4px;


}

label[for=select1],
label[for=invest],
label[for=tenureMonths],
label[for=interest],
label[for=maturity] {
    position: relative;
    top: 10px;
}


// input.ng-invalid.ng-touched, 
// p-dropdown.ng-invalid.ng-touched,
// p-radioButton.ng-invalid.ng-touched {
//   border: 1px solid red;
// }
// ::ng-deep .p-dialog .p-dialog-content{
//     padding:10px;
// }
.p-field {
    padding-top: 5px;
    margin-bottom: 20px;
}



.reciept-row {
    margin-bottom: 1.1rem;
}

label[for=password],
label[for=otp] {
    position: relative;
    bottom: 8px;
}

::ng-deep .p-error {
    position: relative;
    top: 5px;
}

.receipt-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.receipt-row {
    display: flex;
    justify-content: flex-start;
    /* Ensures labels are aligned to the left */
    align-items: center;
}

.label {
    font-weight: bold;
    width: 200px;
    /* Fixed width to make sure labels are aligned vertically */
    padding-right: 10px;
    /* Adds space between label and value */
}

.value {
    color: #444;
    flex-grow: 1;
    width: 15rem;
    /* Ensures the value stretches to fill remaining space */
}

.colon {
    width: 10px;
    text-align: left;
}

@media(max-width:1025px){
    .container{
       max-width: 59rem;
    }
    .rd-container{
        max-width: 54rem;
        position: relative;
        left:40px;
    }

  }
  @media(max-width:768px){
    .container{
        max-width: 47rem;
    }
    .rd-container{
        max-width: 46rem;
        position: relative;
        left:10px;
        top:15px;
        height:31rem;
    }
label[for=close]{
    width:9rem;
}
}
@media(max-width:426px) {
    ::ng-deep .p-breadcrumb {
        position: relative;
        top: -60px;
    }

    .container{
        max-width: 25.5rem;
        height:45rem;
    }
    .rd-container{
        max-width: 24.2rem;
        position: relative;
        left:10px;
        top:15px;
        height:43rem;
    }
    .form-grid {
        display: grid;
        gap: 2.7rem;
        grid-template-columns: repeat(1, 1fr);
  }
  .form-footer{
    position: relative;
    top:200px;
    
  }
   ::ng-deep .rd-receipt-dialog{
        width:21rem !important;
        font-size:13px !important;
     }
//   button[type=submit]{
//     height:2.4rem;
//   }
//   label[for=renew],
//   label[for=close]{
//       font-size: 14px;
//       width:8rem;
//   }
//   .left-rounded{
//     width:7.4rem !important;

// }
// .right-rounded{
//     width:7.4rem !important;
// }


}
@media(max-width:376px){
    .container{
        max-width: 22rem;
        margin-left:-6px;
    } 
    .rd-container{
        max-width: 20.6rem;
    } 
    label[for=renew],
    label[for=close]{
        font-size: 13px;
        width:8rem;
    }
    ::ng-deep .p-dropdown{
        width:15rem;
    }
    input{
        width:15rem;  
    }
    .left-rounded{
        width:15rem !important;
    }
    ::ng-deep .rd-receipt-dialog{
        width:21rem !important;
        font-size:13px !important;
     }
     ::ng-deep .rd-auth-dialog{
        width: 20rem !important;
     }
}
@media(max-width:321px){
    .container{
        max-width: 19rem;
        margin-left:-8px;
    } 
    .rd-container{
        max-width: 18rem;
    }
    label[for=renew],
    label[for=close]{
        font-size: 13px;
        width:7rem;
    }
    .form-footer{
        position: relative;
        top:170px;
        
      }
    ::ng-deep .rd-receipt-dialog{
        width:20rem !important;
        font-size:12px !important;
     }
}
@media(min-width:2560px){
    .container{
        min-width: 150rem;
        margin-left: 30px;
    } 
    .rd-container{
        min-width: 60rem;
        margin-left: 390px;
    }
}