


.form-container {
    position: relative;
    max-width: 700px;
    // max-height: 30px;
    height: 30rem;
    // max-height:900px;
    margin: auto;
    padding-left: 20px;
    padding-top: 17px;
    background-color: white;
    border-radius: 10px;
}

.logo {
    position: absolute;
    min-height: 480px;
    top: 0px;
    right: 8px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


::ng-deep .custom-msg {
    font-weight: bold;
    margin-top: 6px;


}

::ng-deep .custom-msg1 {
    font-weight: bold;
    margin-top: 6px;
}

::ng-deep .custom-msg2 {
    font-weight: bold;
    margin-top: 6px;
}


#username {
    width: 350px;
    border-radius: 20px;
    font-family: "Times New Roman", serif !important;
}

.container1 {
    padding-top: 3px;
}



::ng-deep .custom-password .p-component {
    width: 350px;
    border-radius: 20px;
    font-family: "Times New Roman", serif !important;

}



button {
    width: 352px;
    background-color: #047D8E;
    color: white;
    border-radius: 20px;
    cursor: pointer;

}

button:disabled {
    background-color: #0591a4b9;
    cursor: not-allowed;
    opacity: 0.5;

}

h1 {
    padding-top: 0px;
    font-family: "Times New Roman", serif !important;
}

h3 {
    font-family: "Times New Roman", serif !important;
}

::ng-deep .p-inline-message-text {
    font-family: "Times New Roman", serif !important;
    font-weight: bold;
}






// Responsive Styles
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        min-height: 430px;
        padding-top: 1px;
    }

    button {
        width: 360px;
    }
    ::ng-deep .custom-password .p-component {
        
        font-family: "Times New Roman", serif !important
    }

    
}





@media (min-width:425px)and (max-width:766px) {
    .logo {
        max-width: 134px;
        display:none;
    }

    #username {
        // max-width: 210px;
        max-width: 340px;
    }

    ::ng-deep .custom-password .p-component {
        // max-width: 212px;
        max-width: 340px;
        border-radius: 20px;
        font-size: 15px;
        font-family: "Times New Roman", serif !important
    }

    button {
        // max-width: 210px;
        max-width: 340px;
    }

    ::ng-deep .custom-msg2 {
        // font-weight: bold;
        margin-top: 5px;
        // max-width: 160px;
        min-width:240px;

    }

    .container1 {
        margin-top: -1rem;
    }

    ::ng-deep .custom-msg1 {
        // font-weight: bold;
        margin-top: 5px;
        // min-width: 170px;
        min-width: 260px;
    }

    ::ng-deep .p-inline-message-text {
        font-size: 14px;
        font-weight: bold;
        font-family: "Times New Roman", serif !important;
    }

}







@media (max-width: 424px) and (min-width:375px) {
    button {
        // width: 200px;
        max-width: 320px;
    }

    .form-container {
        min-width: 358px;
        min-height: 407px;
    }

    .logo {
        // min-height: 480px;
        // max-width: 120px;
        display:none;
    }

    .container1 {
        margin-top: -1rem;
    }

    #username {
        // max-width: 200px;
        max-width: 320px;
    }

    ::ng-deep .custom-password .p-component {
        // max-width: 200px;
        max-width: 320px;
        border-radius: 20px;
        font-size: 15px;
        font-family: "Times New Roman", serif !important
    }

    ::ng-deep .custom-msg {
       
        margin-top: 5px;
        min-width: 160px;
      

    }

    ::ng-deep .custom-msg1 {
        
        margin-top: 5px;
        // min-width: 170px;
        min-width:260px;



    }

    ::ng-deep .custom-msg2 {
        margin-top: 5px;
        // max-width: 160px;
        min-width:240px;

    }

    ::ng-deep .p-inline-message-text {
        font-size: 14px;
        font-weight: bold;
        font-family: "Times New Roman", serif !important;
    }

}










@media (max-width: 320px) {
    button {
        // width: 177px;
        max-width:284px;
        padding: 10px;
    }

    .form-container {
        width: 305px;
        // max-height: 440px;
      max-height:1px;
        // padding-top: 2px;
        padding-top:5px;
        padding-left: 8px;

    }

    h1 {
        font-size: 26px;

    }

    h3 {
        font-size: 17px;
    }

    ::ng-deep .custom-msg {
        
        margin-top: 5px;
        min-width: 160px;

    }

    ::ng-deep .custom-msg1 {
        
        margin-top: 5px;
        // min-width: 170px;
        min-width: 240px;



    }

    ::ng-deep .custom-msg2 {
        // font-weight: bold;
        margin-top: 5px;
        // max-width: 160px;
        min-width: 240px;

    }

    ::ng-deep .p-inline-message-text {
        font-size: 13px;
        font-weight: bold;
        font-family: "Times New Roman", serif !important;
    }

    #username {
        // max-width: 177px;
        max-width:284px;
        font-size: 15px;
        font-family: "Times New Roman", serif !important;
    }

    ::ng-deep .custom-password .p-component {
        // max-width: 177px;
        max-width:284px;
        border-radius: 20px;
        font-size: 15px;
        font-family: "Times New Roman", serif !important
    }

    ::ng-deep .p-icon {
        max-width: 15px;
    }

    .logo {
        // max-width: 110px;
        // min-height: 440px;
        display: none;
    }

    .container1 {
        // margin-top: -1rem;
        margin-top: -0.6rem;
    }
}