<div class="layout">
  <div class="container">

    <!-- <div class="header-section"> -->
    <h2>All Deposit Details</h2>
    <div class="right">
      <div class="search-bar">
        <input type="text" pInputText [(ngModel)]="searchText" placeholder="Search Type or Ref No" />
        <i class="pi pi-search search-icon"></i>
      </div>
    </div>
    <!-- </div> -->



    <!-- Filtered Table -->
    <p-table *ngIf="combinedDeposits.length > 0" [value]="filteredDeposits()" [paginator]="true" [rows]="5"
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>
          <th>Type</th>
          <th>Reference No</th>
          <th>From Account</th>
          <th>Investment Amount</th>
          <th>Tenure (Months)</th>
          <th>Tenure (Days)</th>
          <th>Maturity Instruction</th>
          <th>Interest Frequency</th>
          <th>Scheme</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-deposit>
        <tr>
          <td>{{ deposit.type }}</td>
          <td>{{ deposit.referenceNumber }}</td>
          <td>{{ deposit.fromAccount }}</td>
          <td>₹{{ deposit.amount }}</td>
          <td>{{ deposit.tenureMonths }}</td>
          <td>{{ deposit.tenureDays }}</td>
          <td>{{ deposit.maturity }}</td>
          <td>{{ deposit.interestFrequency }}</td>
          <td>{{ deposit.scheme }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>