.container {
    width: 80rem;
    margin-left: 70px;
    background-color: white;
    position: relative;
    top: 25px;
    border-radius: 10px;
    border-bottom: 10px;
    min-height: 29rem;

}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-size: 0.9rem;
    /* Adjust this to your desired font size */

}

::ng-deep .p-datatable th {
    font-size: 0.97rem;
    // color: rgb(155, 54, 155);
    color: rgb(22, 22, 100);
    background-color: #f3f3f4;
}

.layout {
    background-color: #f1e5fc;
    height: 35rem;
    position: relative;
    bottom: 40px;
    width: 90rem;
    right: 10px;
    border-radius: 20px;
}

h2 {
    position: relative;
    top: 25px;
    left: 13px;
    font-size: 20px;
    color: rgb(22, 22, 100);
}

::ng-deep .p-paginator-bottom {
    border-radius: 10px;
}

.right {
    display: flex;
    align-items: center;
    position: relative;
    left:900px;
    bottom:20px;


    .search-bar {
      position: relative;

      input {
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        border: 2px solid #e0e0e0;
        border-radius: 8px;
        // background-color: #f9f9f9;
        outline: none;
      }

      .search-icon {
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        color: #aaa;
      }
    }}



@media(max-width:1025px){
    .layout{
        width: 59rem;
    }
    .container{
        width: 57rem;
        margin-left: 15px;
    }
    .right{
        position: relative;
        left:680px;
    }
}
@media(max-width:768px){
    .layout{
        width: 47rem;
    }
    .container{
        width: 45.5rem;
        margin-left: 15px;
    }
    .right{
        position: relative;
        left:500px;
    }
}
@media(max-width:426px) {
    ::ng-deep .p-breadcrumb {
        position: relative;
        top: -60px;
    }
    .layout{
        width: 25rem !important;
    }
    .container{
        width: 23rem;
        margin-left: 15px;
    }
    .right{
        position: relative;
        left:250px;
        width:40px;

    }
    input{
        width:6.6rem;
    }
    h2{
        font-size: 16px;
    }
}
@media(max-width:376px){
    .layout{
        width: 22.2rem !important;
        height:35rem;
    }
    .container{
        width:20.6rem !important;
    }
    .right{
        position: relative;
        left:220px;
    }
   
    }
    @media(max-width:321px){
        .layout{
            width: 20rem !important;
            height:35rem;
            margin-left:-10px;
        } 
        .container{
            width:18rem !important;

            h2{
                font-size:14px;
            }
        }
        .right{
            position: relative;
            left:160px;
        }
    }
    @media(min-width:2560px){
        .layout{
            min-width: 150rem !important;
            height:35rem;
            margin-left:30px;
        } 
        .container{
            min-width:80rem !important;
            margin-left:420px;

            h2{
                font-size:14px;
            }
        }
        .right{
            position: relative;
            left:1000px;
        }
    }
