.transactions-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  position: relative;
  bottom: 30px;
  right: 10px;


  .card {
    flex: 1 1 48%;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    // background-color:  #ece1f7;
    background-color: #f1e5fc;
    padding: 1.5rem;
    height: 32.8rem;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 5.5rem;
      color: black;
    }
  }

  .transaction-list,
  .payment-list {
    list-style: none;
    padding: 0;
    margin: 0;


    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      transition: all 0.3s ease;
      background-color: white;
      height: 5rem;
      position: relative;
      bottom: 65px;

      &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
      }

      &.completed {
        border-left: 5px solid #28a745;
      }

      &.pending {
        border-left: 5px solid #ffc107;
      }

      &.failed {
        border-left: 5px solid #dc3545;
      }

      .txn-left,
      .pay-left {
        display: flex;
        align-items: center;
        gap: 1rem;

        .txn-icon,
        .pay-icon {
          font-size: 1.8rem;
          color: #7b54c1;
        }
      }

      .txn-title,
      .pay-title {
        font-weight: bold;
        margin-bottom: 0.3rem;
        color: #333;
      }

      .txn-date,
      .pay-date {
        font-size: 0.85rem;
        color: #777;
      }

      .txn-right,
      .pay-right {
        text-align: right;

        .txn-amount,
        .pay-amount {
          font-weight: bold;
          color: #5a3e85;
          font-size: 1rem;
        }

        .txn-status {
          display: block;
          font-size: 0.85rem;
          color: #888;
          margin-top: 0.3rem;

          &.status-completed {
            background-color: #cff9d9; // Green
            color: rgb(20, 141, 20);
            height: 1.5rem;
            width: 4.7rem;
            border-radius: 6px;
            text-align: center;
            padding-top: 2px;
          }

          &.status-pending {
            background-color: #ffc107; // Yellow
            color: #000;
            height: 1.5rem;
            width: 4.7rem;
            border-radius: 6px;
            text-align: center;
            padding-top: 2px;

          }

          &.status-failed {
            background-color: #dc3545; // Red
            color: #000;
            height: 1.5rem;
            width: 4.7rem;
            border-radius: 6px;
            text-align: center;
            padding-top: 2px;
          }
        }
      }
    }
  }

  .upcoming-payments {
    padding: 1rem !important;
    max-height: 310px;
    // overflow-y: auto;

    .payment-list li {
      height: 4rem !important; // reduce height from 5rem
      padding: 0.7rem !important;
      margin-bottom: 0.7rem;

      .pay-icon {
        font-size: 1.5rem;
      }

      .pay-title {
        font-size: 0.95rem;
      }

      .pay-date {
        font-size: 0.8rem;
      }
    }
  }


}

.spending-chart {
  flex: 1 1 100%;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #f1e5fc;
  padding: 1.5rem;
  margin-top: 2rem;
  width: 37rem;
  position: relative;
  bottom: 280px;
  height: 12.5rem;
  left: 635px;

  h2 {
    font-size: 1.2rem;
    //   margin-bottom: 10rem;
    position: relative;
    bottom: 20px;
    color: black;
  }
}

::ng-deep canvas {
  position: relative;
  bottom: 20px;
  background-color: white;
  border-radius: 5px;
}



@media(max-width:1025px) {
  .transactions-wrapper {
    .card {
      max-width: 21rem;
    }
  }

  li {
    width: 18rem;
  }

  .recent-transactions {
    min-width: 21rem !important;
  }

  .upcoming-payments {
    max-width: 22rem !important;
  }

  .spending-chart {
    position: relative;
    left: 370px;
    width: 22rem;
  }
}

@media(max-width:768px) {
  .recent-transactions {
    min-width: 20rem !important;
    height: 10rem;
  }

  .transactions-wrapper {
    .card {
      max-width: 20.6rem;
      height: 32rem;
    }
  }

  .upcoming-payments {
    max-width: 22rem !important;
  }

  .spending-chart {
    width: 21rem;
    height: 12rem;
    margin-top: 40px;
  }
}

@media(max-width:426px) {
  ::ng-deep .p-breadcrumb {
    position: relative;
    top: -60px;
  }

  .transactions-wrapper {
    .card {
      max-width: 35rem;
      height: 32rem;
    }
  }

  .recent-transactions {
    position: relative;
    min-width: 25rem !important;
    height: 10rem;
    left: -1rem;
    top: -30px;

    li {
      width: 22rem;
    }
  }

  .upcoming-payments {
    min-width: 25rem !important;
    position: relative;
    top: -20px;
    left: -10px;
    max-height: 25rem !important;

    li {
      width: 22rem;
    }
  }

  .spending-chart {

    min-width: 25rem !important;
    min-height: 25rem !important;
    margin-top: 260px;
    left: -10px;


    ::ng-deep canvas {
      height: 15rem !important;
      top: 10px;
    }
  }
}

@media (max-width:376px) {

  // .transactions-wrapper{
  //   .card{
  //   max-width:30rem;
  //   height:32rem;
  //   }
  // }
  .recent-transactions {
    position: relative;
    min-width: 22rem !important;
    height: 10rem;
    left: -1rem;
    top: -30px;

    li {
      width: 20rem;
    }
  }

  .spending-chart {
    min-width: 22rem !important;
  }

  .upcoming-payments {
    min-width: 22rem !important;

    li {
      width: 20rem;
    }
  }
}

@media (max-width:321px) {

  // .transactions-wrapper{
  //   .card{
  //   max-width:19.4rem;
  //   height:32rem;
  //   }
  // }

  .recent-transactions {
    position: relative;
    min-width: 19.4rem !important;
    height: 10rem;
    left: -1.5rem;
    top: -30px;

    li {
      width: 17rem;
    }
  }

  .spending-chart {
    position: relative;
    min-width: 19.4rem !important;
    left: -1.5rem;

    // ::ng-deep canvas {
    //   height: 15rem !important;
    //   top: 10px;
    //   width:10rem !important;
    // }
  }

  .upcoming-payments {
    min-width: 19.4rem !important;
    left: -1.5rem;

    li {
      width: 17rem;
    }
  }
}
@media(min-width:2560px){
  .spending-chart{
    margin-left: 580px;
    width:1110px;
  }
}